# 2.1.1) Create your index!

In [20]:
import csv
f = open("Downloads/article_0.tsv")
tsvElements= list()
with f as tsvfile:
    reader = csv.reader(tsvfile, delimiter='\t')
    for row in reader:
        data = str(row).split() #split string into a list
        for temp in data:
            tsvElements.append(temp)
    

vocabulary = dict([(x+1,y) for x,y in enumerate(sorted(set(tsvElements)))])

In [21]:
indexDictionary = {}
for i in range(len(vocabulary)):
    indexDictionary[(i+1)]= []

In [23]:
vocabulary

{1: '"The',
 2: "'1901\\xa0(1901)',",
 3: "'Edwin",
 4: "'Love",
 5: "'NA',",
 6: "'NA']",
 7: "'Silent',",
 8: "'United",
 9: "'https://en.wikipedia.org/wiki/Love_by_the_Light_of_the_Moon',",
 10: '1901',
 11: '1902',
 12: 'A',
 13: 'Company.[1]',
 14: 'Edison',
 15: 'Edwin',
 16: 'French',
 17: 'Georges',
 18: 'In',
 19: 'It',
 20: 'Light',
 21: 'Manufacturing',
 22: 'Moon',
 23: "Moon',",
 24: "Méliès.',",
 25: "Porter',",
 26: 'Porter,',
 27: 'S.',
 28: "States',",
 29: 'The',
 30: 'They',
 31: 'Trip',
 32: "['Love",
 33: '[]',
 34: 'a',
 35: 'action',
 36: 'and',
 37: 'animation',
 38: 'at',
 39: 'because',
 40: 'bench',
 41: 'better.",',
 42: 'bigger.',
 43: 'blocked,',
 44: 'by',
 45: 'causing',
 46: 'couple',
 47: 'down',
 48: 'embrace,',
 49: 'everything',
 50: 'face',
 51: 'fans',
 52: 'fence',
 53: 'fiction',
 54: 'film',
 55: 'frown.',
 56: 'gets',
 57: 'hangs',
 58: 'has',
 59: 'hat',
 60: 'her',
 61: 'him',
 62: 'his',
 63: 'in',
 64: 'is',
 65: 'last',
 66: 'learn',
 67: 'left',
 68: 'live',
 69: 'look',
 70: 'man',
 71: 'mixes',
 72: 'moon',
 73: "moon's",
 74: 'moon,',
 75: 'night.',
 76: 'of',
 77: 'on',
 78: 'over',
 79: 'painted',
 80: 'park',
 81: 'past',
 82: 'perched',
 83: 'predates',
 84: 'produced',
 85: 'railing',
 86: 'scene,',
 87: 'science',
 88: 'see',
 89: 'shoulder',
 90: 'sit',
 91: 'sky',
 92: 'smile',
 93: 'smiles.',
 94: 'smiling',
 95: 'the',
 96: 'theme',
 97: 'then',
 98: 'to',
 99: 'tree.',
 100: 'up.',
 101: 'view',
 102: 'walking',
 103: 'with',
 104: 'woman',
 105: 'young'}

In [24]:
with open("Downloads/article_0.tsv") as openfile:
    for line in openfile:
        for part in line.split():
            for i in range(len(vocabulary)):
                if vocabulary.get(i+1) in part:
                    if 'article_0' not in indexDictionary.get(i+1):
                        indexDictionary[i+1].append('article_0')

In [25]:
indexDictionary

{1: [],
 2: [],
 3: [],
 4: [],
 5: [],
 6: [],
 7: [],
 8: [],
 9: [],
 10: ['article_0'],
 11: ['article_0'],
 12: ['article_0'],
 13: ['article_0'],
 14: ['article_0'],
 15: ['article_0'],
 16: ['article_0'],
 17: ['article_0'],
 18: ['article_0'],
 19: ['article_0'],
 20: ['article_0'],
 21: ['article_0'],
 22: ['article_0'],
 23: [],
 24: [],
 25: [],
 26: ['article_0'],
 27: ['article_0'],
 28: [],
 29: ['article_0'],
 30: ['article_0'],
 31: ['article_0'],
 32: [],
 33: [],
 34: ['article_0'],
 35: ['article_0'],
 36: ['article_0'],
 37: ['article_0'],
 38: ['article_0'],
 39: ['article_0'],
 40: ['article_0'],
 41: [],
 42: ['article_0'],
 43: ['article_0'],
 44: ['article_0'],
 45: ['article_0'],
 46: ['article_0'],
 47: ['article_0'],
 48: ['article_0'],
 49: ['article_0'],
 50: ['article_0'],
 51: ['article_0'],
 52: ['article_0'],
 53: ['article_0'],
 54: ['article_0'],
 55: ['article_0'],
 56: ['article_0'],
 57: ['article_0'],
 58: ['article_0'],
 59: ['article_0'],
 60: ['article_0'],
 61: ['article_0'],
 62: ['article_0'],
 63: ['article_0'],
 64: ['article_0'],
 65: ['article_0'],
 66: ['article_0'],
 67: ['article_0'],
 68: ['article_0'],
 69: ['article_0'],
 70: ['article_0'],
 71: ['article_0'],
 72: ['article_0'],
 73: ['article_0'],
 74: ['article_0'],
 75: ['article_0'],
 76: ['article_0'],
 77: ['article_0'],
 78: ['article_0'],
 79: ['article_0'],
 80: ['article_0'],
 81: ['article_0'],
 82: ['article_0'],
 83: ['article_0'],
 84: ['article_0'],
 85: ['article_0'],
 86: ['article_0'],
 87: ['article_0'],
 88: ['article_0'],
 89: ['article_0'],
 90: ['article_0'],
 91: ['article_0'],
 92: ['article_0'],
 93: ['article_0'],
 94: ['article_0'],
 95: ['article_0'],
 96: ['article_0'],
 97: ['article_0'],
 98: ['article_0'],
 99: ['article_0'],
 100: ['article_0'],
 101: ['article_0'],
 102: ['article_0'],
 103: ['article_0'],
 104: ['article_0'],
 105: ['article_0']}

In [28]:
tfIdIndexDictionary = {}
for i in range(len(indexDictionary)):
    tfIdIndexDictionary[(i+1)]= []
    
for i in range(len(vocabulary)):
    tfIdIndexDictionary[i+1].append(NEW LIST FOR ARTICLE NAME AND VALUE OF FTL)

In [39]:
for (key, value) in vocabulary.items():
    for (k,v) in indexDictionary.items():
        if key == k :
            print(v)

[]
[]
[]
[]
[]
[]
[]
[]
[]
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
[]
[]
[]
['article_0']
['article_0']
[]
['article_0']
['article_0']
['article_0']
[]
[]
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
[]
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']
['article_0']

# 2.1.2) Execute the query

In [50]:
import pandas as pd
import csv
search = input() #taken search elements from user

"The by look

In [51]:
listOfsearchElements = search.split()
listOfsearchElements = list(dict.fromkeys(listOfsearchElements)) #removing repeating elements in a list

print(listOfsearchElements)

['"The', 'by', 'look']

In [65]:
keyList=[] 
resultlist = []

for i in range(len(listOfsearchElements)):
    for (key, value) in vocabulary.items():
        if value == listOfsearchElements[i]: #check the search elements are in vocabulary dictionary , or not ?
            keyList.append(key) #if they are exist in vocabulary dictionary , up them on keyList 

if(len(keyList) != len(listOfsearchElements)): # Being "len of key isnt equal to len of search list" mean is we cant research for all search element, so just quit to search
    print("Opps! Sorry we can't find any film")


if(len(keyList) == len(listOfsearchElements)):
    
    for j in range(len(keyList)):
        for (key, value) in indexDictionary.items():
            if key == keyList[j]:
                resultlist.append(value)
                
#compare for common articles
result = set(resultlist[0])
for s in resultlist[1:]:
    result.intersection_update(s)

result = list(result)
for i in range(len(result)):
   
    fileNumber = 11
    with open('MoviesTSV\\article_' + str(i) + '.tsv', encoding='utf8') as tsvfile:

        reader = csv.reader(tsvfile, delimiter='\t')

        row = next(reader)

        title = row[0]
        intro = row[1]
        url = row[4]

        listOfTitle.append(title)
        listOfIntro.append(intro)
        listOfUrl.append(url)
        movies_df = pd.DataFrame({'Title': listOfTitle, 'Intro': intro,'Url': url})

In [46]:
keyList

[44, 69]

In [53]:
resultlist

[[], ['article_0'], ['article_0']]

In [57]:
p=[ [1,2,3,6],
    [1,2,9,6],
      
    [1,2,4,6] ]
result = set(p[0])
for s in p[1:]:
    result.intersection_update(s)
print(result)

{1, 2, 6}

In [58]:
len(result)

3

In [61]:
result.get(0)

AttributeError: 'set' object has no attribute 'get'

In [79]:
listOfTitle= []
listOfIntro= []
listOfUrl=[]
import csv
f = open("Downloads/article_0.tsv")
tsvElements= list()
with f as tsvfile:
    reader = csv.reader(tsvfile, delimiter='\t')
        
    row = next(reader)
    
    title = row[0]
    intro = row[1]
    url = row[4]
    
    listOfTitle.append(title)
    listOfIntro.append(intro)
    listOfUrl.append(url)
movies_df = pd.DataFrame(
    {'Title': listOfTitle,
     'Intro': intro,
     'Url': url
    })

In [80]:
percentile_list

,Title,Intro,lst3Title
0,Love by the Light of the Moon,Love by the Light of the Moon,Love by the Light of the Moon

In [71]:
movies_df.index += 1

In [81]:
listOfIntro

['Love by the Light of the Moon is a 1901 film by Edwin S. Porter, produced by the Edison Manufacturing Company.[1] It mixes animation and live action and predates the man in the moon theme of the 1902 French science fiction film A Trip to the Moon by Georges Méliès.']

In [77]:
percentile_list =

In [78]:
percentile_list

,Title,Intro,lst3Title
0,Love by the Light of the Moon,Love by the Light of the Moon,Love by the Light of the Moon